@model CategoriesMenuViewModel


@if (Model != null && Model.CategoryWithChildrens != null && Model.CategoryWithChildrens.Count > 0)
{

    <div class="container mb-4">
        <div class="row col-lg-12">
            <div class="card-header card w-100 mr-1 mb-3">
                <h3 class="text-center"> Shrink Wrapping &amp; Packaging Machinery</h3>
            </div>
            @foreach (var categoryWithChildren in Model.CategoryWithChildrens)
            {
                var category = categoryWithChildren.Category;

                var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);                         

                <div class="card-columns p-3" style="display:grid">
                    <div class="card p-3" style="width: 20rem;">
                        <a href="@Url.SearchProducts(category.SanitizedName)">
                            <div class="single-banner d-flex align-items-center">
                                @Html.Picture(picture: category.Picture, defaultPic: "site/default-bg.jpg", alt: currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                            </div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="@Url.SearchProducts(category.SanitizedName)">
                                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                    </a>
                                </h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
</div>
                </div>
            }

        </div>
    </div>
}