@model CategoriesMenuViewModel


@if (Model != null && Model.CategoryWithChildrens != null && Model.CategoryWithChildrens.Count > 0)
{

            
            <nav class="nav-menu mobile-menu">
                <ul>
                    @foreach (var categoryWithChildren in Model.CategoryWithChildrens)
                    {
                        var category = categoryWithChildren.Category;

                        var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);
                        <li>
                            <a href="@Url.SearchProducts(category.SanitizedName)">
                                @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                            </a>
                        </li>

                    }
                    <li class=""><a href="@Url.StaticPage("ContactUsWeb")">Contact us</a></li>
                    <li class=""><a href="@Url.Home()">Online Shop</a></li>
                </ul>                   
            </nav>                    
}